{{>user-header}}

<section class="product_section ">
    <div class="container">
      
      <div class="product_heading">
        <h2> 
            {{!-- {{#each products}} --}}
          {{this.products.category}} Books
             {{!-- {{/each}} --}}
        </h2>
      </div>




      <div class="product_container">
         {{#each generproduct}}
        <div class="box">
          <div class="box-content">
            <span class="badge badge-success">-{{this.discount}}%</span>
            <div class="img-box">
             <a href="/single-product/{{this._id}}" class="image"><img src="/product-images/{{this._id}}.jpg" class="image" alt=""></a>
            </div>
            <div class="detail-box">
              <div class="text">
                <h5>
                  {{this.Name}}
                </h5>
                <p>{{this.Author}}</p>
               
                <h5>
                  <span>₹</span> {{this.price}}
                </h5>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
              <button  id="add" onclick="addToWish('{{this._id}}')" class="btn btn-dark btn-sm" style="display:;">
               {{!-- <i class="fa fa-bookmark"></i> --}}
               <span style="font-size:small;" class="tooltipp">add to wishlist</span></button>
          </div>
          <div class="btn-box">
            <button id="cart-counts" onclick="addToCart('{{this._id}}')" class="btn btn-primary">
              Add To Cart
            </button>
          </div>
        </div>
         {{/each}}
          
      </div>
    </div>
  </section>