
{{>user-header}}
<body>

  <div class="hero_area">
    <!-- header section strats -->
    {{!-- <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              HandTime
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="product.html">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="testimonial.html">Testimonial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
            </ul>
            <div class="user_optio_box">
              <a href="">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header> --}}
    <!-- end header section -->
    <!-- slider section -->
    {{#each banner}}
    <section class="slider_section ">
      <div class="slider_bg_box">
        <img src="/product-images/{{this._id}}.jpg" alt="">
      </div>
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1 class="display-center" style="border: 3px;font-size: 75px;">
                      {{this.head}}
                    </h1>
                    <p style="color:rgb(252, 252, 252); font-family:cursive ; font-size:larger;">
                     {{this.subhead}}
                    </p>
                    <div class="btn-box">
                      <a href="#middle" class="btn1">
                        Contact Us
                      </a>
                      <a href="/login" class="btn2">
                        Sign-In
                      </a>
                    </div>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>

        {{!-- <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
          <li data-target="#customCarousel1" data-slide-to="3"></li>
          <li data-target="#customCarousel1" data-slide-to="4"></li>
        </ol> --}}
      </div>

    </section>
    {{/each}}
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="images2/feature-1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Fast Delivery
              </h5>
              <p>
                variations of passages of Lorem Ipsum available
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="images2/feature-2.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Free Shiping
              </h5>
              <p>
                variations of passages of Lorem Ipsum available
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="images2/feature-3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Best Quality
              </h5>
              <p>
                variations of passages of Lorem Ipsum available
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="images2/feature-4.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                24x7 Customer support
              </h5>
              <p>
                variations of passages of Lorem Ipsum available
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  {{!-- <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="images2/a-1.jpg" alt="">
            </div>
            <div class="img-box b2">
              <img src="images2/a-2.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2>
              About Our Shop
            </h2>
            <p>
              There are many variations of passages of Lorem Ipsum
              There are many variations of
              passages of Lorem Ipsum
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> --}}
 <section class="about_section layout_padding">
  <section class="product_section ">
    <div class="container">
      <div class="product_heading">
        <h2>
          Popular Geners
        </h2>
      </div>
       <div class="card-columns">
     <form action="/geners-product" method="post" class="card bg-info">
    <button class="card-body btn btn-info" style="margin-left: 120px;" name="category" value="History">
      <p class="card-text " style="color: white; font-size: larger; font-weight: bolder;">History</p>
    </button>
  </form>
  <form action="/geners-product" method="post" class="card bg-warning">
    <button class="card-body btn btn-warning" style="margin-left: 90px;" name="category" value="science fiction" >
      <p class="card-text" style="color: white; font-size: larger; font-weight: bolder;">Science fiction</p>
    </button>
  </form>
  <form action="/geners-product" method="post" class="card bg-success">
    <button class="card-body btn btn-success" style="margin-left: 120px;" name="category" value="Humor" >
      <p class="card-text" style="color: white; font-size: larger; font-weight: bolder;">Humor</p>
    </button>
  </form>
  <form action="/geners-product" method="post" class="card bg-danger">
    <button class="card-body btn btn-danger " style="margin-left: 80px;" name="category" value="Mystery/Detective">
      <p class="card-text" style="color: white; font-size: larger; font-weight: bolder;">Mystery & Detective</p>
    </button>
  </form>
  <form action="/geners-product" method="post" class="card bg-light">
    <button class="card-body btn btn-light" style="margin-left: 115px;" name="category" value="Adventure">
      <p class="card-text" style="color: rgb(0, 0, 0); font-size: larger; font-weight: bolder;">Adventure</p>
    </button>
  </form>
  <form action="/geners-product" method="post" class="card bg-info">
    <button class="card-body btn btn-info" style="margin-left: 130px;" name="category" value="Drama">
      <p class="card-text" style="color: white; font-size: larger; font-weight: bolder;">Drama</p>
    </button>
  </form>
  <form action="/geners-product" method="post" class="card bg-dark">
    <button class="card-body btn btn-dark" style="margin-left: 115px;" name="category" value="Classic">
      <p class="card-text" style="color: white; font-size: larger; font-weight: bolder;">Classic</p>
    </button>
  </form>
  <form action="/geners-product" method="post" class="card bg-secondary">
    <button class="card-body btn btn-secondary"style="margin-left: 130px;" name="category" value="war">
      <p class="card-text" style="color: white; font-size: larger; font-weight: bolder;">War</p>
    </a>
  </form>
</div>

        
      </div>
    </div>
  </section>
  </section>

  <!-- end about section -->


  <!-- product section -->

 <section class="product_section ">
    <div class="container">
      <div class="product_heading">
        <h2>
          Most popular Books
        </h2>
      </div>
      <div class="product_container">
         {{#each products}}
        <div class="box">
          <div class="box-content">
            <span class="badge badge-success">-{{this.discount}}%</span>
            <div class="img-box">
             <a href="/single-product/{{this._id}}" class="image"><img src="/product-images/{{this._id}}.jpg" class="image" alt=""></a>
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  {{this.Name}}
                </h6>
                <P>{{this.Author}}</P>
                <h5>
                  <span>₹</span> {{this.price}}
                </h5>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              
            </div>
             <button  id="add" onclick="addToWish('{{this._id}}')" class="btn btn-dark btn-sm" style="display:;">
               {{!-- <i class="fa fa-bookmark"></i> --}}
               <span style="font-size:small;" class="tooltipp">add to wishlist</span></button>

          </div>
          <div class="btn-box">
            <button id="cart-counts" onclick="addToCart('{{this._id}}')" class="btn btn-primary">
              Add To Cart
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>

  <!-- end product section -->



  <!-- product section -->
 <section class="product_section ">
    <div class="container">
      <div class="product_heading">
        <h2>
          New Arrivals Books
        </h2>
      </div>
      <div class="product_container">
         {{#each newarrival}}
        <div class="box">
          <div class="box-content">
            <span class="badge badge-success">-{{this.discount}}%</span>
            <div class="img-box">
             <a href="/single-product/{{this._id}}" class="image"><img src="/product-images/{{this._id}}.jpg" class="image" alt=""></a>
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  {{this.Name}}
                </h6>
                <P>{{this.Author}}</P>
                <h5>
                  <span>₹</span> {{this.price}}
                </h5>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              
            </div>
             <button  id="add" onclick="addToWish('{{this._id}}')" class="btn btn-dark btn-sm" style="display:;">
               {{!-- <i class="fa fa-bookmark"></i> --}}
               <span style="font-size:small;" class="tooltipp">add to wishlist</span></button>

          </div>
          <div class="btn-box">
            <button id="cart-counts" onclick="addToCart('{{this._id}}')" class="btn btn-primary">
              Add To Cart
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>


  <!-- end product section -->


  <!-- product section -->

  <section class="product_section ">
    <div class="container">
      <div class="product_heading">
        <h2>
          Recommended Books
        </h2>
      </div>
      <div class="product_container">
         {{#each recommended}}
        <div class="box">
          <div class="box-content">
            <span class="badge badge-success">-{{this.discount}}%</span>
            <div class="img-box">
             <a href="/single-product/{{this._id}}" class="image"><img src="/product-images/{{this._id}}.jpg" class="image" alt=""></a>
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  {{this.Name}}
                </h6>
                <P>{{this.Author}}</P>
                <h5>
                  <span>₹</span> {{this.price}}
                </h5>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              
            </div>
             <button  id="add" onclick="addToWish('{{this._id}}')" class="btn btn-dark btn-sm" style="display:;">
               {{!-- <i class="fa fa-bookmark"></i> --}}
               <span style="font-size:small;" class="tooltipp">add to wishlist</span></button>

          </div>
          <div class="btn-box">
            <button id="cart-counts" onclick="addToCart('{{this._id}}')" class="btn btn-primary">
              Add To Cart
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>

  <!-- end product section -->

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div id="middle" class="container">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="/user-message" method="post">
              <div>
                <input type="text" placeholder="Your Name" name="Name" />
              </div>
              <div>
                <input type="number" placeholder="Phone Number" name="Phone" />
              </div>
              <div>
                <input type="email" placeholder="Email" name="Email" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" name="Message" />
              </div>
              <div class="btn_box">
                <button type="submit">
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->


  <!-- client section -->
  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Testimonial
        </h2>
      </div>
    </div>
    <div id="customCarousel2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            {{#each message1}}
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="images2/client.jpg" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          {{this.Name}}
                        </h5>
                        <h6>
                          Customer
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                   {{this.Message}}
                    </p>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
       
        <div class="carousel-item">
          <div class="container">
            {{#each message2}}
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="images2/client.jpg" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                         {{this.Name}}
                        </h5>
                        <h6>
                          Customer
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                    {{this.Message}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel2" data-slide-to="1"></li>
        <li data-target="#customCarousel2" data-slide-to="2"></li>
      </ol>
    </div>
  </section>
  <!-- end client section -->


  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
     
      <div class="info_logo">
        <h2>
          BOOK LOVERS
        </h2>
      </div>
      <div class="row">

        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Shop
            </h5>
            <div>
              <div class="img-box">
                <img src="images2/location-white.png" width="18px" alt="">
              </div>
              <p>
                Address
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="images2/telephone-white.png" width="12px" alt="">
              </div>
              <p>
                +91 9539426560
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="images2/envelope-white.png" width="18px" alt="">
              </div>
              <p>
                abooka920@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
             Book-Lovers is an open, editable library catalog, building towards a web page for every book ever published
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              Instagram
            </h5>
            <div class="insta_container">
              <div class="row m-0">
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                      <img src="images2/w1.jpg" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                      <img src="images2/w2.jpg" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                      <img src="images2/w3.jpg" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                      <img src="images2/w4.jpg" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                      <img src="images2/w5.jpg" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                      <img src="images2/w6.jpg" alt="">
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="https://www.facebook.com/jafferali.jaffersalafi">
                <img src="images2/fb.png" alt="">
              </a>
              <a href="">
                <img src="images2/twitter.png" alt="">
              </a>
              <a href="https://www.linkedin.com/in/jaffer-ali-444b2b194">
                <img src="images2/linkedin.png" alt="">
              </a>
              <a href="https://www.instagram.com/invites/contact/?i=11w5xy1xwi25x&utm_content=483iosq">
                <img src="images2/instagram.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </section>
  

</body>

</html>